@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', 'Orbit', sans-serif;
  line-height: 1.6;
  background: black;
  color: white;
}

/* Navbar */
header {
  position: fixed; /* stays on top */
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  z-index: 1000;
}

header nav {
    margin-left: auto;
    display: flex;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #FF0090;
}

/* Home Section */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10%;
  margin-top: 70px; /* prevent content hiding behind navbar */
}

.home-img img {
  width: 500px;
  margin-right: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  /* border: 1px solid #FF0090; */
}

.home-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
}

.home-text h1 .highlight {
  color: #FF0090; /* or any color you want */
}

.home-text h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
}

.home-text p {
  max-width: 500px;
  margin-bottom: 20px;
  font: 1em 'Orbit', sans-serif;
}

/* Button */
.btn {
  display: inline-block;
  padding: 15px 60px;
  color: #FF0090;
  text-decoration: none;
  border-radius: 20px;
  transition: background 0.3s ease;
  border: 1px solid #FF0090;
}

.btn:hover {
    /* background: black; */
    border-color: #FF0090;
    box-shadow: 0 0 40px rgba(255, 0, 144, 0.81);
}
